<p>debug page</p>
<div id="testButton">
  <p>PUT ROAD</p>
  <button mat-button (click)="putRoadKoma(0)">put 0</button>
  <button mat-button (click)="putRoadKoma(1)">put 1</button>
  <button mat-button (click)="putRoadKoma(2)">put 2</button>
  <button mat-button (click)="putRoadKoma(3)">put 3</button>
  <button mat-button (click)="putRoadKoma(4)">put 4</button>
  <button mat-button (click)="putRoadKoma(5)">put 5</button>
  <br>
  <p>PUT SETTLEMENT</p>
  <button mat-button (click)="putSettlementKoma(0)">put 0</button>
  <button mat-button (click)="putSettlementKoma(1)">put 1</button>
  <button mat-button (click)="putSettlementKoma(2)">put 2</button>
  <button mat-button (click)="putSettlementKoma(3)">put 3</button>
  <button mat-button (click)="putSettlementKoma(4)">put 4</button>
  <button mat-button (click)="putSettlementKoma(5)">put 5</button>
  <br>
  <p>SET TILE NUMBER</p>
  <button mat-button (click)="setTileNumber(2)"> put 2</button>
  <button mat-button (click)="setTileNumber(3)"> put 3</button>
  <button mat-button (click)="setTileNumber(6)"> put 6</button>
  <button mat-button (click)="setTileNumber(9)"> put 9</button>
  <button mat-button (click)="setTileNumber(11)">put 11</button>
  <button mat-button (click)="setTileNumber(12)">put 12</button>
  <br>
  <p>OTHER</p>
  <button mat-button (click)="flashCanvas()">remove</button>
  <button mat-button (click)="setResourceType(0)">背景ON</button>
  <button mat-button (click)="putTreasure('ONCE')">アニメ(一度だけ)</button>
  <button mat-button (click)="putTreasure('STOP')">アニメ(停止)</button>
  <button mat-button (click)="putTreasure('LOOP')">アニメ(ループ)</button>
</div>
<div #commandLogBox class="command-log-box">
  <div *ngFor="let cmd of commandLog">
    {{cmd.type}}:{{cmd.target}}, {{cmd.value}}, {{cmd.message}}
  </div>
<div>
